streamlit==1.50.0
python-dotenv==1.2.1
PyPDF2==3.0.1
langchain-text-splitters==1.1.2
langchain-community==0.4.1
faiss-cpu==1.13.2
langchain-huggingface==1.2.2
langchain-classic==1.0.4
langchain-groq==1.1.2